:root {
  font-family: 'Montserrat', sans-serif;
  --charcoal: #117ac9;
  --white:  #fff;
  --chestnut: #98473E;
  --cadetGrey: #9EA3B0;
  --pacificBlue: #006D77;
  --copper: #BE7220;

  --timing: 200ms;
  --scale: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--charcoal);
  color: var(--white);
  font-family: var(--font-family);
  margin: 0;
  min-width: fit-content;
}

/* Landing Page */
.landing {
  background: #117ac9;
    color: #fff;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    padding-right: 24px;
    padding-left: 24px;
}

.landing-inner {
  grid-column-start: 2;
  grid-column-end: span 10;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 45vh;
  justify-content: space-between;
}

.coming-soon-main {
  flex: 0 0 100%;
}

.coming-soon-main {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin-bottom: 16px;
  color:#fff;
  line-height: 1.3;
  padding: 0;
  text-align: left;
}
.coming-soon-description {
  font-family: 'Playfair Display', serif;
  font-size: 99px;
  margin-bottom: 16px;
  color: #fff;
  line-height: 1.15;
  padding: 0;
  text-align: left;
}



/* NAVBAR */
.brand {
  color: var(--pacificBlue);
  font-size: 30px;
  padding-top: 1px;

}

.nav-link {
  color: white;
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;  
}

.nav-link.active {
  color: var(--copper);
}

.nav-item {
  display: inline-block;
}

.navbar {
  background-color: var(--charcoal);
  position: sticky;
  top: 0;
  transition: top 0.3s;
  opacity: 100%;
}

.navbar-nav {
  margin: -40px 10px;
  border: 2px solid var(--charcoal);
  padding: 10px;
  border-radius: 10px;
  opacity: 100%;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
